img {
  height: 80px;
}

@media screen and (max-width: 600px) {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 150px;
  }
}